<!DOCTYPE html>
<html>
    <head>
        <title>TravelLog</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Hello, World!</h1>
            <p>Welcome to my project!</p>
            <a href="/places/new">Add Place to Journal</a>
        </div>
    </body>
</html>
