<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel Log</title>
  </head>
  <body>

      <h1>Please write the information relevant to your vacation destination.</h1>

      <div class="containter">

        <form action="/places" method="post">
          <label for="cityName">Input City</label>
          <input id="cityName" name="cityName" type="text">

          <label for="journalEntry">Input Journal Entry</label>
          <input id="journalEntry" name="journalEntry" type="text">
          
          <button type="submit">Record</button>
        </form>
      </div>

  </body>
</html>
